:root{
    --very-dark-grayish-blue: hsl(217, 19%, 35%);
    --desaturated-dark-blue: hsl(214, 17%, 51%);
    --grayish-blue: hsl(212, 23%, 69%);
    --light-grayish-blue: hsl(210, 46%, 95%);
}
html{
    font-size: 13px;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--light-grayish-blue);
    font-family: 'Manrope', sans-serif;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 0rem 1rem;
}
article{
   position: relative;
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
    border-radius: 12px;
    max-width: 310px;
    box-shadow: 12px 12px 50px rgba(0, 0, 0, 0.196);
    overflow: hidden;
}
 figure{
    width: 100%;
    height: 205px;
    margin: 0;
    overflow: hidden;
 }
 figure img{
    width: 100%;
 }
 .padding-style{
    display: flex;
    flex-direction: column;
    gap: 1.7rem;
    padding: 1rem 2.2rem;
 }
 .img-user{
    width: 40px;
    border-radius: 100%;
 }
 .icon-img{
    width: 15px;
    height: 15px;
    object-fit: fill;
 }
 .share{
   padding: .7rem;
   border-radius: 100%;
   z-index: 3;
 }
 .share-main{
   color: var(--desaturated-dark-blue);
   background-color: var(--light-grayish-blue);
 }
 .share-second{
   color: var(--light-grayish-blue);
   background-color: var(--desaturated-dark-blue);
 }
 .avatar-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
 }
.name-container{
   display: flex;
   gap: 1rem;
}
.span-container{
   display: flex;
   flex-direction: column;
   gap: .2rem;
}
h1{
   font-size: 1.13rem;
   color: var(--very-dark-grayish-blue);
   font-weight: 700;
   letter-spacing: 1px;
}
p{
   color: var(--desaturated-dark-blue);
   font-weight: 500;
   max-width: 20rem;
}
.name-span{
   font-weight: 700;
   color: var(--very-dark-grayish-blue);
   letter-spacing: 1px;
}
.date-span{
   letter-spacing: 1px;
   font-weight: 500;
   color: var(--desaturated-dark-blue);
}

#content-display{
   position: absolute;
   display: flex;
   align-items: center;
   color: white;
   background-color: var(--very-dark-grayish-blue);
   width: 100%;
   height: 67px;
   bottom: 0px;
   z-index: 2;
}